a {
  @apply c-unset;
  text-decoration: unset;
}

body {
  padding: 0;
  margin: 0;
  background: url('https://web-assets.c5y.moe/B50.png') no-repeat bottom center;
  background-size: 100% auto;
  font-family: Quicksand, "Noto Sans SC";
  position: relative;
	color: oklch(98.4% 0.003 247.858);
}
